@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

#title {
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
}

.FlexCenter {
    display: flex;
    justify-content: center;
  }

svg {
    /* background-color: antiquewhite; */
    padding-left: 60px;
}

.bar:hover {
    fill: aqua
}

.footer-info {
    font-size: small;
}

#tooltip {
    background-color: black;
    color: white;
    position: absolute;
    text-align: center;
}